<div class="form-container">
  <form class="form-style" [formGroup]="changePassword" (submit)="onSubmit()">
    <h2 class="form-title">Change password</h2>
    <mat-form-field>
      <input matInput type="password" placeholder="Old password"  formControlName="oldPassword"  [type]="hideOld ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New password"  formControlName="passwordF"  [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="changePassword.hasError('required')">Password is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm new password" formControlName="passwordC"   [errorStateMatcher]="matcher" [type]="hideConf ? 'password' : 'text'"  required>
      <mat-icon matSuffix (click)="hideConf = !hideConf">{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="changePassword.hasError('required')">Please confirm your password</mat-error>
      <mat-error *ngIf="changePassword.invalid && !changePassword.hasError('required')">Passwords don't match</mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" [disabled]="!changePassword.valid " >Change</button>
    </div>
  </form>
</div>
