.dialog-content{
  color: #000000;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-img{
  height: 220px;
  width: 412px;
  margin-top: 0px;
}

.dialog-location-date{
  display:flex;
  flex-direction: column;
  font-weight: lighter;
}

.title {
  align-self: center;
  font-style: italic;
}

p{
  margin: 10px auto 0 auto;
}
.attend-button{
  margin: 0 auto;
}

.dialog-location-date span{
  margin-bottom:10px;
}
